.forms-profile {
    margin-bottom: 10%;
}

.icon-perfil {

    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    bottom:5%;
    width:100%; 
    height: 6%;
    left: 0%;
    background: #FF7C50;
    color: #FFFFFF;

} 