/* .tamplete-feed-profile{
    display:flex;
    flex-direction: row;
    justify-content: end;
} */

.header-feed{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;   
}  

.logo{
    width: 15%;
}

.black, .purple, .orange{
    display: none;
}

.title-website-feed{
    display: none;
}



.showPublication {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20% 20% 0;
}  

 .containerFeed {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
    height: 30vh;
    width: 60%;
    border-radius: 10px;
    background-image: 
    linear-gradient(  
        #F26E50,
        #bd6450,
        #bd6450,
        #4f238cc4        
    );
    box-shadow: 4px 4px 4px 2px rgb(0 0 0 / 20%);  
}  

.name-user-publication {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    color:#FFFFFF;
    margin-left: 3%;
}

.data-post{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55%;
    margin-left: 3%;
    color: #4F238C;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    bottom:5%;
    width:100%; 
    height: 4%;
    left: 0%;
    background: #F26E50;
    color: #FFFFFF;

} 

.fa-sign-out-alt{
    margin-left: 2%; 
    color: #ffff;
  
}

.fa-plus:hover, .fa-home:hover, .icon-perfil:hover, 
.fa-sign-out-alt:hover {
    cursor: pointer;
   
}

.functions-post{
    display: flex;
    margin-left: 3%;
    align-items: flex-end;
}

.post-feed{
    display: flex;
    width: 40vw;
    height: 12vh;
    padding: 2%;
    color: #ffffffda;
    border-width: 5%; 
    border-style: solid;
    border-right: none;
    border-left: none;
    margin: 2% 4% 2% 2%;
}

.modal-edit{
    margin: 1%;
}

.fa-pen{
    margin-left:2%;
    color: #4F238C;
}

.fa-trash-alt{
    display: block;
    margin-left:1%;
    color: #4F238C;
}

.fa-heart {
    color: #4F238C;
}

.cancel-btn{
    color: #FFFFFF;
    border-radius: 3px; 
    background-color: #c3d3dbbe;
    border: none;
}

.modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top:0px;
    left:0px;  
    z-index:2000; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: none;
       
} 

.modal-content{
    margin: 0 auto;
    background-color: rgba(240, 241, 241);
    width: 40%;
    font-size: 50%; 
}

.confirm-btn { 
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #4F238C;
    border:none
}

.modal-header{
   padding: 8px;
   background-color: #4F238C;
  
}

.modal-title{
    display: flex;
    justify-content: center;
    color:#FFFFFF;
}

.modal-btn, .modal-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
    
}

.modal-footer{
    height: 4vh;
    background-color: #4F238C
}

.modal-edit{
    display:none;
}

.forms-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    position:fixed;
    top:0;
    right: 0;
    background-color: #F26E50;
    border-radius: 5px;
    width: 20vw; 
    height: 100%;
}

.label-profile {
    display: flex;
    justify-content: center;
    font-size: 180%;
    color: #ffff;
    margin-bottom: 8%;

}

.name-input {
    font-size: 80%;
    width: 35vh;
    margin-left:2%;
    color: #ffff;
}

.form-login{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    margin-top: 10%;
}

.icons-input{
    margin: 0 2% 0 8%;
}

.fa-user{
    color: #ffff;
}

.modal-phrase, .modal-bg{
display: none;
}

.modal-phrase {
    color: #4f238cc4;
    margin-left: auto;
    margin-right: auto;
    font-size: 60%;
}
.modal-bg {
    margin-left: auto;
    margin-right: auto;
}

.inputPhoto {
    display: none;
    width: 40vw;
    height: 30vh;
    background: #FF7C50;
    position: absolute;
    top:40%;
    left:30%;  
}

.icon-profile{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #ffff;
    border: 5px solid #ffff;
    cursor: pointer;
    transition: background .5s;
}

.icon-profile:hover{
    background-color: #ec460e0d;
    border: 5px solid #4f238cc4;
}

.cancel-choice-photo{
    margin:5%;
}

.btn{
    background-color: #4f238cc4;
    border-radius: 3px;
    border: none;
    color: #ffff;
}

.modal-close{
    background-color: #302d2d65;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* @media (min-width: 320px) and (max-width: 768px)  {

    .logo-img{
        display: none;
    }

    .forms-profile {
        margin-top: 10%;
        margin-bottom: 20%;
        background-color: #ec460e0d;
        border-radius: 5px;
        width: 60vw; 
        height: 45vh;
    }

    .label-profile {
        font-size: 150%;
    }

    .name-input {
        font-size: 100%;
        width: 40vw;
    }

    .modal-bg, .modal-phrase {
        margin-left: 30%;
    }
} */

/* @media (min-width: 320px) and (max-width: 768px)  {
    .logo{
        display: none;
    }

    .purple {
        position: fixed;
        width: 140%; 
        height: 25vh; 
        left: -7.5vw; 
        top: -12vh;
        background: #643969;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        overflow: hidden;
        border-radius: 60%;
    }

    .black {
        position: absolute;
        width: 175%; 
        height: 89vh; 
        left: 20%; 
        top: -62vh; 
        background: #161616;
        border-radius: 40%;
    }

    .orange{
        position: absolute;
        width: 42%; 
        height: 83%; 
        left: 12%;
        top: 11%;
        background: #F27127; 
        border-radius: 50%;  
    }

    .header-feed{
     margin: 30% 0 10% 20%;
     justify-content: space-evenly; 
    }

    .title-website-feed {
        display: block;
        overflow: visible;
        color:#F27127;
        font-size: 160%;
        margin-top:10%;
    } 

    .showPublication{
        margin-bottom: 40%; 
        
    }

    .containerFeed {
        width: 80vw;
        height: 20vh;
        margin-bottom: 5%;
    }

    .data-post{
        font-size: 70%;
        font-family: fantasy;  
    }

    .post-feed {
        width: 70vw;
        height: 8vh;
    }

    .modal-content{
        width: 60vw;
    }
} */
