.header-feed{
  
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    /* margin-top: -18%; */
    margin-bottom: -9%;

}

.logo{
    width: 60%;
}

.showPublication {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}  

 .containerFeed {
    flex-direction: column;
    padding: 2%;
    margin: 1%;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow:  41px 41px 82px #b2b2b2,
               -41px -41px 82px #ffffff;
}  
.emailUserPublication {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1 rem;
    
}

.dataPost{
    font-family: initial;
    font-size:0.7rem;
}

.icon {

    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    bottom:5%;
    width:100%; 
    height: 6%;
    left: 0%;
    background: #FF7C50;
    color: #FFFFFF;

} 
.line{
    color:black;
}
.postFeed{
    padding: 2%;
}
/* 
.exitAccount {
    display: flex;
    justify-content: flex-end;
} */


.functionsPost {
    display: flex;
}

.fa-trash-alt{
    display: block;
}

.modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top:0px;
    left:0px;
    z-index:2000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* background-color: rgba(0, 0, 0, 0.4);
    height: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;  */
       
} 
.modal-content{
    margin: 0 auto;
    width: 50vw;
    max-width: 600px;
    background-color: rgba(240, 241, 241);
    width: 40%;
    font-size: 50%;
    
    
}
.modal-header{
   padding: 10px;
   background-color: rgba(44, 41, 41, 0.7);
}

.modal-title{
    display: flex;
    justify-content: center;
}

.modal-btn, .modal-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}

.modal-close:hover{
    cursor: pointer;
}

.modal-footer{
    height: 4vh;
    background-color: rgba(44, 41, 41, 0.7);
}

.modal-edit{
    display:none;
}
