.icon {

    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    bottom:5%;
    width:100%; 
    height: 8%;
    left: 0%;
    background: #F26E50;
    color: #FFFFFF;

} 
.title-website{
    display: none;
} 

.title-text{
    font-size: 120%;
    color:#F27127;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-publication{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-logo-page{
    width: 15%;
}

.new-publication{
    background: #c3d3dba1;
    backdrop-filter: blur(30px);
    resize: none;
    width: 45vw;
    height: 30vh;
    border-radius: 3px;
    margin-top: 3%; 
    color: #FFFFFF;
}
::-webkit-input-placeholder {
    color: #FFFFFF;
 }
 
.tamplete-text{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-image: 
    linear-gradient(
          
        #F27127,
        #F27127,
        #bd6450,
        #bd6450,
        
        #4F238C      
    );
    border: none;
    margin: 2%;
    width: 50vw;
    height: 50vh;
    border-radius: 3px; 
    margin-bottom: 10%;
    
}

.btns-publication{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}

.confirm-publication{
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #4F238C;
    border: 2% solid #4F238C ;
    border-radius: 3px;
    width: 15vw;
    height: 5vh;
    margin-right: 5%;
    color: #FFFFFF;
}
.confirm-publication:hover{
    background-color: #6D3F73;
    cursor: pointer;
}
.clear-text{
    width:15vw;
    height: 5vh;
    background: #c3d3dba1;
    backdrop-filter: blur(30px);
    color: #FFFFFF;
    border-radius: 3px;
}
.clear-text:hover{
    background: #c3d3db5b;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px)  {

    .img-logo-page{
      display: none;  
    }

    .title-website{
        display: block;
        margin-right: 20%;
        margin-top: 10%;
        color:#F27127;
        font-size: 160%;
    
    }

    .title-text {
        margin: 5%; 
        font-size: 80%;
    }

    .tamplete-text{
        width: 80vw;
        height: 30vh;
    }

    .confirm-publication, .clear-text{
       width: 20vw;
    }

    .new-publication{
        width: 70vw;
        height: 20vh;
    }
}