.container{
    
    display: flex;
    flex-direction: column;
    flex-flow: row ;
}
.container{
    display: flex;
    flex-direction: column;
}

.entrarLogin{
    text-align: center;
}
.btnCadastro{
    justify-content: center;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
}

p u {
    cursor: pointer;
}
.eye, .eyeRepeat{
    
    cursor: pointer;
    left: 95%;
    position: absolute;
    width: 20px;
    
}
.passwordRegister, .repeatPassword{
    width: 99%;
}

.inconHome{
  display: flex;
  justify-content: space-between;
}